@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    font-family: "Roboto";

}

body {
    margin: 0;
    padding: 0;
}

#hero {
    background-color:  #1F2937;
    color: #f9faf8;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 0 0 40px 0;
}

.logo {
    margin-left: 160px;
    font-size: 20px;
    font-weight: 700;
}

.header ul {
    list-style: none;
    padding: 0;
    margin-right: 160px;
    display: flex;

}

.header ul a {
    text-decoration: none;
    padding: 0.7rem;
    color: #E5E7EB;

}

.header ul a:hover {
    color:#3882F6;
}

#first-section {
    margin-left: 160px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
    flex-wrap: wrap;
}

#flex-1 {
    flex-grow: 1;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    
}

.cta-1 {
    background: #3882F6;
    color: white;
    width: 110px;
    height: 35px;
    border-radius: 8px;
    border: none;
    font-size: 15px;

}

.cta-1:hover {
    color: #03045e;
}

.img {
    background-color: darkgray;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30vw;
    height: 30vh;
    margin-right: 160px;
    margin-top: 30px;
}

#section-two {
    align-items: center;
    padding-bottom: 100px;

}


.information {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.squares {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
}

.blue-square {
    color: #3882F6;
    width: 150px;
    height: 150px;
    border: 3px solid #3882F6;
    border-radius: 10px;
}


h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1F2937;
    font-weight: 700;
    font-size: 32px;
}

.squares p {
    justify-content: center;
    align-items: center;
}

#quote-section {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 75px;
    padding-bottom: 35px;
}

.quote h3 {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}

h5 {
    margin-left: 300px;
    margin-bottom: 5px;
    font-size: 20px
}

footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    color: #E5E7EB;
    padding-top: 20px;
    padding-bottom: 20px;
}